USE [master]
GO
/****** Object:  Database [WebDev]    Script Date: 6/5/2020 9:04:51 PM ******/
CREATE DATABASE [WebDev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebDev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MYSQL\MSSQL\DATA\WebDev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebDev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MYSQL\MSSQL\DATA\WebDev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebDev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebDev]
GO
/****** Object:  Table [dbo].[Bookmarks]    Script Date: 6/5/2020 9:04:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmarks](
	[bookmark_id] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [int] NOT NULL,
	[movie_id] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookmark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 6/5/2020 9:04:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[Userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](10) NULL,
	[fname] [varchar](50) NULL,
	[lname] [varchar](50) NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH NOCHECK ADD FOREIGN KEY([Userid])
REFERENCES [dbo].[UserTable] ([Userid])
GO
USE [master]
GO
